* {

}

.slideshow-container {
    max-width: 50vw;
    position: relative;
    margin: auto;
    text-align:center;
    height:200px;
    padding:20px;
    border:5px;
}

body{
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v485-nunoon-30-musicnotesbackgroundicon_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=95892dbe0623df29bd713df82120dcb3);
    background-repeat: no-repeat;
    background-size: cover;

}


#previous, #next {
    background-color: #C6D0DF;
    border-radius:30px;
    margin-left:40px;
    margin-right:40px;
}

#picture {
    border-radius: 30px;
}

.tab {
    background-color: rgb(252, 237, 219);
    font-weight: bolder;
}

.tablinks {
    text-align:center;
    color:#EAB100;
}

img {
    height:100%;
    width:100%;
    filter:brightness(120%)
}

.tabcontent{
    border: solid black;
    border-radius: 30px;
}

#summary, #practicalinfo, #contactform {
 background-color: rgb(215, 223, 234);
}

#numbers {
    background-color: rgb(252, 237, 219);
    text-align: center;
    font-size: 25px;
}

#map {
    text-align: center;
}

.footer {
    text-align:right;
}

#contact {
    text-align: center;
    padding-bottom: 15px;
}

#feedback {
    width:50%;
    margin-top: 15px;
}

#firstremainindays, #tickets {
    color:#EAB100;
    text-decoration: overline underline;
}






